{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h5 class="mb-3">Detalle del Servicio Clínico</h5>
            <dl class="row mb-0">
                <dt class="col-sm-4">ID</dt>
                <dd class="col-sm-8">{{ object.id|default:"-" }}</dd>

                <dt class="col-sm-4">Nombre</dt>
                <dd class="col-sm-8">{{ object.nombre|default:"-" }}</dd>

                <dt class="col-sm-4">Horas</dt>
                <dd class="col-sm-8">{{ object.tiempo_horas|default:"-" }}</dd>

                <dt class="col-sm-4">Correo Jefe Área</dt>
                <dd class="col-sm-8">{{ object.correo_jefe|default:"-" }}</dd>

                <dt class="col-sm-4">Teléfono</dt>
                <dd class="col-sm-8">{{ object.telefono|default:"-" }}</dd>

                <dt class="col-sm-4">Establecimiento</dt>
                <dd class="col-sm-8">{{ object.establecimiento.nombre|default:"-" }}</dd>
            </dl>
        </div>
    </div>
</div>
