{% extends 'base.html' %}
{% load static %}

{% block title %}Servicios Clínicos - Listado{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <div class="row align-items-center w-100">
            <div class="col">
                <h5 class="mb-0">Listado de Servicios Clínicos</h5>
            </div>
            <div class="col-auto text-end">
                <a href="{% url 'kardex:servicio_clinico_history' %}" class="btn btn-warning me-2">
                    <i class="bi bi-file-earmark-excel"></i> Historial
                </a>
                <a href="{% url 'reports:export_servicio_clinico' %}" class="btn btn-success me-2">
                    <i class="bi bi-file-earmark-excel"></i> Reporte
                </a>
                {% if perms.kardex.add_servicioclinico%}
                <a href="{% url 'kardex:servicio_clinico_create' %}" class="btn btn-primary">
                    <i class="fas fa-plus"></i> Nueva Servicio Clínico
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <table id="Table" class="table table-bordered table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Acciones</th>
                {% for col in columns %}
                {% if col != 'ID' %}
                <th>{{ col }}</th>
                {% endif %}
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
