# ==========================
# 🔥 Django / Python
# ==========================

# Entorno virtual
.venv/
env/
venv/

# Base de datos (no subir)
db.sqlite3

# Archivos de configuración sensibles
*.env
*.env.*
!.env.example   # puedes crear uno de ejemplo si quieres

# Archivos compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
dist/
build/

# Media / archivos subidos
media/
uploads/

# Staticfiles colectivos (se generan)
staticfiles/


# ==========================
# 🛠 IDE y editores
# ==========================

# PyCharm / JetBrains
.idea/

# VSCode
.vscode/

# Archivos temporales
*.log
*.pot
*.po~
*.mo
*.tmp
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# ==========================
# Docker (si usas)
# ==========================
docker-compose.override.yml
*.pid
