{% extends 'base.html' %}
{% load static %}

{% block content %}

<form method="post" novalidate>
    {% csrf_token %}
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 w-100">
                    <div>
                        <div class="card-title">
                            Acción: {% if id %}Actualizar Usuario{% else %}Crear Usuario{% endif %}
                        </div>
                    </div>
                    <div class="ms-md-auto py-2 py-md-0">
                        <button type="submit" class="btn btn-primary btn-round">Guardar</button>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="row">
                            {% if id %}
                            <div class="col-sm-6 col-md-4 col-lg-4 mb-3">
                                <div class="form-group">
                                    <label for="disableinput">ID Usuario</label>
                                    <input type="text" class="form-control" id="disableinput" value="{{ id }}"
                                           disabled/>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    {{ form.password }}
                                    {% if form.password.errors %}
                                    <div class="text-danger">{{ form.password.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="col-md-4 col-lg-4">
                                <div class="form-group">
                                    <label>Confirmar Contraseña</label>
                                    {{ form.confirm_password }}
                                    {% if form.confirm_password.errors %}
                                    <div class="text-danger">{{ form.confirm_password.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}


